<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h3>New Pokemon Form</h3>
  <form class="pokemon-form" method="POST" action="/">
    <div class="pokemon-attribute">
      Number: <input name="num" type="text"/><br><br>
    </div>
    <div class="pokemon-attribute">
      Name:  <input name="name" type="text"/><br><br>
    </div>
    <div class="pokemon-attribute">
      Image:  <input name="img" type="text"/><br><br>
    </div>
    <div class="pokemon-attribute">
      Height:  <input name="height" type="text"/><br><br>
    </div>
    <div class="pokemon-attribute">
      Weight:  <input name="weight" type="text"/><br>
    </div>
    <br><br>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
